@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.color-boxes-container::-webkit-scrollbar {
  display: none;
}

.color-boxes-container {
  display: flex;
  overflow-x: auto;
  background: linear-gradient(transparent, white);
  height: 50px;
  align-items: center;
  margin-bottom: 16px;
}

.detail-button {
  @apply pt-1 pb-2 flex justify-between w-full;
}

.image-transition {
  transition: opacity 0.5s ease;
}

.main-title {
  @apply font-extrabold text-center text-2xl tracking-widest;
}

.side-bar-menu {
  @apply flex flex-col mx-3 mt-5 pb-10 
  font-extrabold text-xl border-b-2 border-b-[#bfbfbf];
}

body {
}
